.flower {
  animation: 0.8s ease-in-out 9.5s 1 rotateHead backwards;
}

.petals div {
  animation: 1.9s ease-in-out 4.7s 1 face backwards,
             1.8s ease-in-out 3.6s 1 spawn backwards;
}

.button {
  animation: 16s ease-in-out 3s 1 moveRight backwards;
}
.celebration {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  background-color: white;
  opacity: 0;
  border-radius: 100%;
  transform: translateX(-50%) translateY(-50%);
  animation: 0.8s ease-in-out 10s 1 celebrate backwards;
}

@keyframes celebrate {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  80% {
  }

  100% {
    opacity: 0;
  }
}

div {
  transition: 0.2s ease-in-out;
  border-color: white;
}
/*
div div:hover{
  opacity: 0.9;
}*/



body {
  animation: 1.9s ease-in-out 1 backgroundAnimation;
  background-color: #A53027;
}

@keyframes rotateHead {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    20% {
      transform: translateX(-50%) translateY(-50%) rotate(20deg);
    }

    80% {
      transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }
}

@keyframes backgroundAnimation {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
}

@keyframes spawn {
  0% {
    border-radius: 0px;
    width: 0;
    height: 0;
    opacity: 0;
    /*border: white solid 10px;*/
  }

  80% {
    border-radius: 0px;
  }

  100% {
    /*border: white solid 0px;*/
  }
}

@keyframes face {
  0% {
    transform: scale(0.4) rotate(800deg);
  }

  /*80% {
    transform: scale(1.05) rotate(-4deg);
  }*/
}

@keyframes moveLeft {
  0% {
    transform: rotate(-90deg);
    margin-left: 1000px;
  }
  80% {
    margin-left: -40px;
    transform: scale(1.1) rotate(-10deg);
  }
}

@keyframes moveUp {
  0% {
    transform: rotate(-9000deg);
    margin-top: 1000px;
  }

  90% {
    transform: rotate(90deg);
    margin-top: -20px;
  }
}


@keyframes moveRight {
  0% {
    transform: rotate(-90deg);
    margin-left: -1000px;
  }
  80% {
    margin-left: 40px;
    transform: scale(1.1) rotate(10deg);
  }
}

